body{
    margin: 0 0 ;
    background-color: #5d5c61;
    height: 100%;
}

#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.page{
    background-color: black;
    height: 100%;
    width: 100%;
}

.headerLine{
    margin:auto;
    height: 100px;
    width: 100%;
    background-color: #557a95;
}
.underHeaderLine{
    height: 840px;
    width: 100%;
    background-color: #557a95;
}
#displayGraphDIV{
    width: 70%;
    height:840px;
    background-color: #b1a296;
}
#fillData{
    width: 30%;
    height:840px;
    background-color: #7395AE;
    position: absolute;
    align-content: center;
}

#getID{
    width: 50%;
    height: 100px;
    background-color: black;
}
.Flex{
    display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;
}
.headerText{
    text-align: center;
    font-size: 70px;
    width: 100%;;
}
.inputForm{
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}
#nameInput{
    height:50px;
    width: 70%;    
}
#descriptionInput{
    height:200px;
    width: 70%;    
}
#parentInput{
    height:50px;
    width: 70%;  
}
#aliasesInput{
    height:50px;
    width: 70%;  
}